lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.o
*.pyc

.DS_Store
.pdgrc
.pdgrc.mak
/build/
deps/node/deps/cares/build/
ios/build/
ios/*.app
/make.bat
/Makefile
tools/jasmine-node
tools/node
tools/node.exe
tools/node-gyp
tools/node-inspector
tools/npm
tools/repl
/node_modules
/pdg
/pdg.exe
test/pdg
test/pdg.exe
test/client_test/pdg.exe
test/debug.html
test/ios
node_modules/pdg
pnglibconf.h
/msvc
project.xcworkspace
xcuserdata
autom4te.cache/
jsapi.o-*
jsarray.o-*
pids
logs
results
/artifacts/
npm-debug.log
deps/node/node.xcodeproj/
deps/node/deps/*/*.xcodeproj/
deps/node/deps/openssl/openssl.rules
deps/node/node.sln.cache
deps/node/deps/npm/node_modules
.dir
.cache/clangd/
compile_commands.json
/CMakeFiles
*.vcxproj
*.filters
CMakeCache.txt
make.ps1
PDG.sln
cmake_install.cmake
src/cmake_install.cmake
src/CMakeFiles/generate.stamp
src/CMakeFiles/generate.stamp.depend

test/perf/cpp-pdgmark/pdgmark_results.json

test/perf/cpp-bunnymark/bunnymark

test/perf/cpp-pdgmark/pdgmark
