/deps/javascriptcore
/ios
/src/bindings/jsc-ios
/src/bindings/javascript/jsc

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.o
*.pyc

.DS_Store
.pdgrc
.pdgrc.mak
/build/
deps/node/deps/cares/build/
ios/build/
ios/*.app
/make.bat
/Makefile
tools/jasmine-node
tools/node
tools/node.exe
tools/node-gyp
tools/node-inspector
tools/npm
tools/repl
/node_modules
/pdg
/pdg.exe
test/pdg
test/pdg.exe
test/client_test/pdg.exe
test/debug.html
test/ios
node_modules/pdg
pnglibconf.h
/msvc
project.xcworkspace
xcuserdata
autom4te.cache/
jsapi.o-*
jsarray.o-*
pids
logs
results
npm-debug.log
deps/node/node.xcodeproj/
deps/node/deps/*/*.xcodeproj/
deps/node/deps/openssl/openssl.rules
deps/node/node.sln.cache
deps/node/deps/npm/node_modules
